[project]
	description = a system for tracking events
[access "refs/*"]
	owner = group user/Gabe Mulley (mulby)
[access "refs/for/refs/*"]
	read = group user/Gabe Mulley (mulby)
	push = group user/Gabe Mulley (mulby)
	label-Code-Review = -2..+2 group user/Gabe Mulley (mulby)
	label-Verified = -1..+1 group user/Gabe Mulley (mulby)
	rebase = group user/Gabe Mulley (mulby)
	removeReviewer = group user/Gabe Mulley (mulby)
	submit = group user/Gabe Mulley (mulby)
[access "refs/heads/*"]
	read = group user/Gabe Mulley (mulby)
	create = group user/Gabe Mulley (mulby)
	push = +force group user/Gabe Mulley (mulby)
	pushMerge = group user/Gabe Mulley (mulby)
[access "refs/tags/*"]
	push = +force group user/Gabe Mulley (mulby)
	pushTag = group user/Gabe Mulley (mulby)
	pushSignedTag = group user/Gabe Mulley (mulby)
