name: Python CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  run_tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version:
        - '3.11'
        toxenv: [celery54-django42, celery54-django52]

    steps:
    - uses: actions/checkout@v5
    - name: setup python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.12.0
      with:
        mongodb-version: 4.0

    - name: Install pip
      run: pip install -r requirements/pip.txt

    - name: Install Dependencies
      run: make test.setup install

    - name: Run Tests
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: tox
